body
  background: $light
a
  cursor: pointer
  color: #fff
  &:link ,&:visited, &:active
    text-decoration: none
p
  font-size: 20px
section
  position: relative
.section-title
  position: relative
  text-align: center
  color: $brown
  font-weight: lighter
  font-size: 22px
  font-family: "Montserrat", sans-serif
.navbar-fixed-top
  position: fixed
  right: 0
  left: 0
  z-index: 1030
.button
  border-radius: 3px
  cursor: pointer
  //background: transparent
  padding:  12px 20px
  font-family: 'Montserrat', sans-serif
.actionBtn
  background: $cyan
  cursor: pointer
.container
  max-width: 780px
  padding: 20px
  margin: 30px auto
.center-container
  text-align: center
.lg-container
  max-width: 1000px
  padding: 0px 20px
  margin: 30px auto
.svg-container
  width: 80%
  margin: 0 auto
.space-left
  margin-left: 24px
  margin-top: 8px
  +display(block)
