a
  color: $marron
p
  color: $grey-blue
section
  position: relative
.section-title
  display: inline-block
  position: relative
  text-align: center
  color: $dark-cerulean
  font-weight: lighter
  font-size: 22px
  font-family: "Montserrat", sans-serif
  &::after
    content: ''
    position: absolute
    left: 0
    bottom: -7px
    background: $dark-cerulean
    height: 1px
    width: 50%

.container
  max-width: 780px
  margin: 0 auto
  padding: 0px 20px
.lg-container
  max-width: 980px
  margin: 0 auto
  padding: 0px 30px

.center
  text-align: center

.svg-container
  width: 80%
  margin: 0 auto

.space-left
  margin-left: 24px
  margin-top: 8px
  +display(block)
