body
  background: $light
  //font-size : 100%
a
  cursor: pointer
  color: #fff
  &:link ,&:visited, &:active
    text-decoration: none
  @media all and (max-width: #{$phone-length - 1} )
    font-size: 14px

p
  @media all and (max-width: #{$phone-length - 1} )
    font-size: 16px
  @media all and (max-width: #{$tablet-length - 1} ) and (min-width:$phone-length )
    font-size: 18px
  font-size: 20px
section
  position: relative
.section-title
  position: relative
  text-align: center
  color: $brown
  font-weight: lighter
  @media all and (max-width: #{$phone-length - 1} )
    font-size: 18px
  font-size: 22px
  font-family: "Montserrat", sans-serif

.button
  border-radius: 3px
  cursor: pointer
  padding:  12px 20px
  font-family: 'Montserrat', sans-serif
.actionBtn
  background: $cyan
  cursor: pointer
.container
  max-width: 780px
  padding: 0 20px
  margin: 0 auto
.center-container
  text-align: center
.lg-container
  max-width: 1000px
  padding: 0 20px
  margin: 0 auto

.svg-container
  width: 80%
  margin: 0 auto
.space-left
  margin-left: 24px
  margin-top: 8px
  +display(block)
