// $themeColor: #B5A459
// $themeColor_light: #CDC49A
// $shadowBgColor: rgba(140, 140, 140, 0.5)
// $themeColor_darker: #1F1905
// $themeColor_dark: #796D3E
//
$light_purple: #A5AAC7
$light: #F1F1F1
$grey-blue: #1F2829
$light-cerulean: #789CB4
$dark-cerulean:#004777
$marron: #770000
$buff: #EFD28D

$tablet-length: 768px

%small-bold
  font:
    size: 14px
    weight: 700
  text-transform: uppercase
