<section id="about">
  <div class="container">
    <div class="section-title">
      About Me
    </div>
    <div class="icons-section">
      <div class="icon-designthinking">
        {% include icons/icon-designthinking.html %}
      </div>
      <div class="icon-wireframing">
        {% include icons/icon-wireframing.html %}
      </div>
      <div class="icon-dev">
        {% include icons/icon-development.html %}
      </div>
    </div>
    <div class="text-section">
      <p>
        Passionated about web developement and web design, I aspire to be design and build website which empower and delight people.
      </p>
      <p>
        Inspired by a <a href="https://www.youtube.com/watch?v=8BMhCu1sP8I">Youtube video</a>,
        to get improved my skills on design, wireframing, sketching as well as web development,
        I decided to create this page.
      </p>
    </div>
  </div>
</section>
