<section id="contact">
  <div class="contact-bg">
  </div>
  <div class="container">
    <h1 class="contact-title">Want to get in touch?</h1>
    <a class="button" href="mailto:ybb.emily@gmail.com">Contact Me By Email</a>
    <h3>Send mail to address: <strong>ybb.emily@gmail.com</strong></h3>
  </div>
  <footer>
    <h4 class="copyright">Designed and built by Bingbing YAN</h4>
    <div class="social-icons">
      <a class="icon-github" href="https://github.com/JulieMIYA">
        {% include icons/icon-github.html %}
      </a>
      <a class="icon-linkedin" href="https://www.linkedin.com/in/bingbingyan">
        {% include icons/icon-linkedin.html %}
      </a>
      <a class="icon-codepen" href="http://codepen.io/keep_on_hacking">
        {% include icons/icon-codepen.html %}
      </a>
    </div>
  </footer>
</section>
