<header>
  <nav>
    <a >About</a>
    <a >Timeline</a>
    <a >Projects</a>
    <a >Contact</a>
  </nav>
  <div class="page-cover">
  </div>
  <div class="cover-text">
    <div class="page-title">
      A web developer trying to be awesome at design and development
    </div>
    <div class="seperator">
    </div>
    <div class="page-description">
      As a Master 2 student, I will graduate from EFREI (an engineering school in France) in the end of Noverber, 2016.
      Now I am actively seeking for a CDI/CDD in <strong>Ile de France Region, France</strong>.
    </div>
    <a id="downloadCvBtn" href="files/A4_BB.pdf" target="_blank" class="button" >Download Resume</a>
  </div>
</header>
