<div class="navbar">
  <div class="lg-container">
    <div class="nav">
      <ul>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#timeline">Timeline</a>
        </li>
        <li>
          <a href="#projects">Projects</a>
        </li>
      </ul>
    </div>
    <div class="actionBtn button">
      <a href="mailto:ybb.emily@gmail.com">Contact</a>
    </div>
  </div>

</div>

<header>

  <div class="container">
    <div class="page-title">Hi there! I am Bingbing YAN. </div>
    <p class="page-description">
        Having obtained my Master degree in Business Intelligence from Efrei(an engineering school in France),
        I am actively seeking for a CDI/CDD as Web Developer in <strong>Ile de France Region, France</strong>.
    </p>
    <div class="center-container">
      <a id="downloadCvBtn" href="files/A4_BB.pdf" target="_blank" class="button">Download Resume</a>
    </div>
  </div>
</header>
