<section class="lg-container" id="project-container">
  <div class="section-title">Projects</div>
  <ul class="projects-list">
    <li>
      <div class="project-item">
        <img class="project-image" src="assets/img/soulboy.png" alt="Soulboy- Khalil Fong" />
        <div class="project-dept">
          <h2 class="project-title">SoulBoy</h2>
          <p>
            Created for Khalil Fong, a famous singer, music producer in China Hong Kong, the website let you know about his
             story and amazing music.
          </p>
          <span>ps: This is not his official website, I created it just for fun.</span>
        </div>
      </div>
    </li>
    <li>
      <div class="project-item">
        <img class="project-image" src="assets/img/soulboy.png" alt="Soulboy- Khalil Fong" />
        <div class="project-dept">
          <h2 class="project-title">SoulBoy</h2>
          <p>
            Created for Khalil Fong, a famous singer, music producer in China Hong Kong, the website let you know about his
             story and amazing music.
          </p>
          <span>ps: This is not his official website, I created it just for fun.</span>
        </div>
      </div>
    </li>
    <li>
      <div class="project-item">
        <img class="project-image" src="assets/img/soulboy.png" alt="Soulboy- Khalil Fong" />
        <div class="project-dept">
          <h2 class="project-title">SoulBoy</h2>
          <p>
            Created for Khalil Fong, a famous singer, music producer in China Hong Kong, the website let you know about his
             story and amazing music.
          </p>
          <span>ps: This is not his official website, I created it just for fun.</span>
        </div>
      </div>
    </li>
    <li>
      <div class="project-item">
        <img class="project-image" src="assets/img/soulboy.png" alt="Soulboy- Khalil Fong" />
        <div class="project-dept">
          <h2 class="project-title">SoulBoy</h2>
          <p>
            Created for Khalil Fong, a famous singer, music producer in China Hong Kong, the website let you know about his
             story and amazing music.
          </p>
          <span>ps: This is not his official website, I created it just for fun.</span>
        </div>
      </div>
    </li>
  </ul>
</section>
