<section class="lg-container" id="project-container">
  <div class="section-title">Projects</div>
  <ul class="projects-list">
    {% for project in site.data.projects %}
      <li>
        <div class="project-item">
          <img class="project-image" src="assets/img/{{project.image}}" alt="Soulboy- Khalil Fong" />
          <div class="project-dept">
            <h2 class="project-title">{{project.name}}</h2>
            <p>
              {{project.description}}
            </p>
            {% if project.ps != "" %}
              <span>{{project.ps}}</span>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
