<section id="timeline">
  <div class="lg-container">
    <div class="section-title">Timeline</div>
    <ul class="timeline">
      <li>
        <div class="timeline-section" >
          <div class="timeline-time">MAY 1993</div>
          <div class="timeline-title">
            Hello world!
          </div>
          <div class="timeline-location">
            <i class="icon icon-sm-location"></i> Shantou, China
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-section">
          <div class="timeline-time">SEPT 2011 - JUL 2014</div>
          <div class="timeline-title">
            Bachelor in computing science
          </div>
          <div class="timeline-location">
            <i class="icon icon-sm-location"></i> SCUT - South China University of Technology
            <strong class="space-left">GuangZhou, China</strong>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-section">
          <div class="timeline-time">SEPT 2014 - NOV 2016</div>
          <div class="timeline-title">
            Master in business intelligence
          </div>
          <div class="timeline-location">
              <i class="icon icon-sm-location"></i> EFREI - Engineering School of Information and Digital Techonologies
              <strong class="space-left">Villjuif, France</strong>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-section">
          <div class="timeline-time">MAY 2015 - AUG 2015</div>
          <div class="timeline-title">
            PHP Developer
          </div>
          <div class="timeline-location">
            <i class="icon icon-sm-location"></i> ERDF - <strong>Puteaux,France</strong>
          </div>
            <ul class="keywords-group">
              <li>PHP</li>
              <li>Front end integration</li>
              <li>MySQL</li>
              <li>Web design</li>
            </ul>
        </div>
      </li>
      <li>
        <div class="timeline-section">
          <div class="timeline-time">MAR 2016 - SEPT 2016</div>
          <div class="timeline-title">
            Xamarin Developer & Symfony Developer
          </div>
          <div class="timeline-location">
            <i class="icon icon-sm-location"></i> Nut Cracker - <strong>Paris,France</strong>
          </div>
          <ul class="keywords-group">
            <li>Xamarin (c#)</li>
            <li>Symfony (php)</li>
            <li>Front end integration</li>
            <li>React.JS</li>
            <li>wordpress</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>


</section>
