#about
  position: relative
  // padding-top: 80px
  // padding-bottom: 50px
  .icons-section
    @media all and (max-width: 450px)
      max-width: 450px
    padding: 20px 0
    +display(flex)
    +flex-direction(row)
    +justify-content(space-between)
    +align-items(center)
    .icon-lg-designthinking, .icon-lg-wireframing
      padding: 20px
      width: 90px
    .icon-lg-development
      padding: 20px
      width: 110px
  [class^='icon-']
    margin: 0 10px
    +display(inline-block)
    width: 130px
    max-height: 130px
  // .icon-dev
  //   width: 130px
  //   max-height: 80px
  // .icon-wireframing
  //   width: 100px
  //   max-height: 124px
  // .icon-designthinking
  //   width: 100px
  //   max-height: 137px
  .text-section
    p
      font-family: 'Open Sans',sans-serif

  // .content-lockup
  //   +display(flex)
  //   +align-items(flex-end)
  //   +justify-content(space-between)
