#about-section
  position: relative
  background: $light
  padding-top: 80px
  padding-bottom: 50px
  .icons-section
    padding: 0 20px
    +display(flex)
    +flex-direction(row)
    +justify-content(space-between)
    +align-items(center)
    .icon-lg-designthinking, .icon-lg-wireframing
      padding: 20px
      width: 90px
    .icon-lg-development
      padding: 20px
      width: 110px

  .text-section
    padding-bottom: 20px
    p
      font-size: 22px
      line-height: 2

  // .content-lockup
  //   +display(flex)
  //   +align-items(flex-end)
  //   +justify-content(space-between)
