#projects
  padding: 30px 20px
ul.projects-list
  list-style: none
  //display: table
  padding: 0
  overflow: hidden
  li
    box-sizing: border-box
    display: inline-block
    &:nth-child(odd)
      clear: left
    @media screen and (min-width: $tablet-length)
      float: left
      width: 50%
      padding: 0 15px
    .project-item
      background: #fff
      width: 100%
      margin: 20px 0px
      .project-dept
        padding: 18px
        p
          font-size: 18px
        span
          font-weight: 300
      .project-title
        margin: 10px
        font-size: 20px
        color: $grey-blue
        font-family: 'Oswald', sans-serif
        font-weight: bold
      .project-image
        //border-radius: 3px
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.14)
        max-width: 100%
        height: 100%
        overflow: hidden
        position: relative
        img
          //border-radius: 5px
          position: relative
          width: 100%
          +display(block)
        .overlay
          //border-radius: 5px
          opacity: 0
          text-align: center
          position: absolute
          left: 0
          top: 0
          width: 100%
          height: 100%
          background-color: rgba(191, 191, 191, 0.5)
          a
            opacity: 0
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,0%)
        &:hover
          img
            animation:
              name: boucingImg
              duration: 500ms
              timing-function: ease-in-out
              fill-mode: forwards
          .overlay
            opacity: 1
            transition: opacity 500ms ease-in-out
          a
            opacity: 1
            transform: translate(-50%, -50%)
            transition: all 500ms ease-in-out
