<svg viewBox="0 0 70 51" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
    <title>dev_icon</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <rect id="path-12" x="6.17647059" y="0" width="57.6470588" height="41.25"></rect>
        <mask id="mask-22" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="57.6470588" height="41.25" fill="white">
            <use xlink:href="#path-12"></use>
        </mask>
        <polygon id="path-13" points="0.301442748 50.2913977 6.17647059 40.5 63.8235294 40.5 69.6985573 50.2913977"></polygon>
        <mask id="mask-24" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="69.3971145" height="9.79139774" fill="white">
            <use xlink:href="#path-13"></use>
        </mask>
    </defs>
    <g id="Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-6" stroke-width="2" stroke="#789CB4">
            <g id="dev_icon">
                <g id="pc">
                    <use id="Rectangle-73" mask="url(#mask-22)" xlink:href="#path-12"></use>
                    <use id="Rectangle-73-Copy" mask="url(#mask-24)" xlink:href="#path-13"></use>
                </g>
                <g id="code" transform="translate(19.901961, 11.687500)" stroke-linecap="square">
                    <polyline id="Line" points="5.56691681 2.26885804 0.00775634342 9.52920377 5.56691681 16.7895495"></polyline>
                    <path d="M19.6774956,0.453771608 L11.2111483,18.6046359" id="Line"></path>
                    <polyline id="Line-Copy-14" transform="translate(27.630955, 9.982975) scale(-1, 1) translate(-27.630955, -9.982975) " points="30.410535 2.72262965 24.8513745 9.98297538 30.410535 17.2433211"></polyline>
                </g>
            </g>
        </g>
    </g>
</svg>
